* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 56, 56);
}

.champ-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.champ {
  width: 300px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.name, .desc {
  margin-bottom: 10px;
  margin-top: 10px;
}

.img {
  width: 200px;
  height: 200px;
}

.Header {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.5);
  height: 80px;
  align-items: center;
}

.search {
  height: 40px;
  border: none;
  border-radius: 40px;
  background-color: rgb(56, 56, 56);
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-size: 20px;
  margin-right: 2rem;
}

.search::placeholder {
  color: #fff;
}